$font-family-base: "Poppins", Sans-serif;

$primary: #009EF7; 
$secondary: #F1FAFF;
$success: #2e9f3d;
$light: #F9F9F9;
$dark: #181C32;
$black: #222; 
$body-color: #333; 

$btn-padding-x: 1.5rem;
$btn-padding-y: 0.75rem;

$table-cell-padding-y: 1.25rem !default;
$table-cell-padding-x: .75rem !default;

$prefix: "lev-";

@import "/node_modules/bootstrap/scss/bootstrap";
@import url(font-poppins.min.css);

// $navbar-dark-toggler-border-color:  rgba($white, .1) !default;

html,body,#__nuxt,main{ height: 100% !important;width: 100%; }

.bg-gradient-primary{
    background: rgb(0,197,126);
    background: linear-gradient(216deg, rgba(0,197,126,1) 0%, rgba(0,82,53,1) 78%, rgba(0,82,53,1) 100%);
}

.navbar-brand{
    width: 300px;
}

@media (max-width: 767.98px) {
    .navbar-brand{
        width: 200px;
    }
}

.icon {
    display: flex;
    position: relative;
}

.icon-16 {
    width: 16px;
    height: 16px;
}
.icon-24 {
    width: 24px;
    height: 24px;
}
.icon-32 {
    width: 32px;
    height: 32px;
}

.icon-40 {
    width: 40px;
    height: 40px;
}

.icon-256 {
    width: 256px;
    height: 256px;
}

.icon.text-primary {
    fill: $primary;
    color: $primary;
}
.icon.text-secondary {
    fill: $secondary;
    color: $secondary;
}
.icon.text-dark {
    fill: $dark;
    color: $dark;
}

.m-fadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
    border-style: hidden;
}
.m-fadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}

.object-fit-contain{ object-fit: contain }

html body.swal2-height-auto{ height: 100% !important }

@media print{
    *{
        font-size: 12px;
        // font-family: 'Times New Roman', Times, serif;
    }
    #btnControlPrintAndSend{
        display: none !important;
    }
}

body{ background: url(../img/header-bg.jpg) no-repeat center top; background-color: var(--lev-light); background-size: 100% 350px;}

@media (max-width: 991.98px){
    body {
        background-size: 100% 200px;
    }
}

.profile-picture img{
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.btn.btn-custom {
    background-color: rgba(255, 255, 255, 0.1);
}

.btn.btn-color-white {
    color: var(--lev-white);
}

.btn.btn-light-primary {
    color: var(--lev-primary);
    border-color: rgba(var(--lev-primary-rgb),.1);
    background-color: rgba(var(--lev-primary-rgb),.1);
}

.form-control.form-control-solid {
    background-color: var(--lev-gray-100);
    border-color: var(--lev-gray-100);
    color: var(--lev-gray-700);
    transition: color 0.2s ease;
}

.form-control.form-control-solid::placeholder{
    color: var(--lev-gray-500);
}

.form-group:has(> .form-control-search){
    position: relative;
}

.form-control-search{
    padding-left: 3.25rem !important;
    color: var(--lev-gray-500) !important;
}

.form-group:has(> .form-control-search)::after{
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    position: absolute;
    font-weight: 900;
    top: 50%;
    left: 1.25rem;
    color: var(--lev-gray-500);
    transform: translateY(-50%);
}

.btn-check:checked + .btn.btn-light-primary, .btn-check:active + .btn.btn-light-primary, .btn.btn-light-primary:focus:not(.btn-active), .btn.btn-light-primary:hover:not(.btn-active), .btn.btn-light-primary:active:not(.btn-active), .btn.btn-light-primary.active, .btn.btn-light-primary.show, .show > .btn.btn-light-primary {
    color: var(--lev-white);
    border-color: var(--lev-primary);
    background-color: var(--lev-primary) !important;
}

.table:not(.table-bordered).table-row-dashed tr {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: var(--lev-gray-200);
}

.table td, .table th{ border-bottom: none !important; white-space: nowrap; }

.table th{ color: var(--lev-gray-500); font-weight: 500;}

.table{ font-size:14px }

.table tbody td{ color: var(--lev-gray-600); }

.text-hover-primary:hover {
    transition: color 0.2s ease;
    color: var(--lev-primary) !important;
}

.text-hover-primary{
    transition: color 0.2s ease;
    color: var(--lev-gray-800) !important;
}

.btn-check:checked + .btn.btn-active-light-primary, .btn-check:active + .btn.btn-active-light-primary, .btn.btn-active-light-primary:focus:not(.btn-active), .btn.btn-active-light-primary:hover:not(.btn-active), .btn.btn-active-light-primary:active:not(.btn-active), .btn.btn-active-light-primary.active, .btn.btn-active-light-primary.show, .show > .btn.btn-active-light-primary {
    color: var(--lev-primary);
    border-color:rgba(var(--lev-primary-rgb),.1);
    background-color: rgba(var(--lev-primary-rgb),.1) !important;
}

.page-link{
    padding: .25rem .75rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
}

.page-link.disabled{
    color: var(--lev-gray-500);
    cursor: default;
    pointer-events: none;
}

.page-link.active, .page-link:hover, .page-link:active{
    background-color: var(--lev-primary);
    color: var(--lev-white);
    transition: all .2s ease-in-out;
}

.text-gradient{
    color: var(--lev-secondary); background-image: -webkit-linear-gradient(45deg, var(--lev-secondary) 0%, #fff 98%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
  }
  
           
  .btn-grad {
    background-image: linear-gradient(
      to right,
      $primary 0%,
      #79ceff 51%,
      $primary 100%
    );
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }
  
  .btn-grad:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }

  .bg-gradient-primary{
    background-image: linear-gradient(
      45deg,
      hsl(216deg 18% 16%) 0%,
      hsl(199deg 59% 26%) 50%,
      hsl(183deg 100% 35%) 100%
    );
  }
  
  .bg-gradient-primary.bg-opacity-50{
    background-image: linear-gradient( 45deg, rgba(33, 39, 48, 0.50) 0%, rgba(27, 81, 105, 0.50) 50%, rgba(0, 170, 179, 0.50) 100% );
  }

  .bg-gradient-animate {
    background-image: linear-gradient(
    70deg,
    #002235 0%,
    #00324f 10%,
    #014369 20%,
    #005586 30%,
    #006ba9 40%,
    #009cf6 50%,
    #2aadfa 60%,
    #2aadfa 70%,
    #4dbeff 80%,
    #8dd5ff 90%,
    #d9f1ff 100%,
    hsl(183deg 100% 87%) 90%,
  );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  #loginContent{
    box-shadow: 5px 5px 100px #4c4c4c75, -5px -5px 100px #3333337d;
    border: 2px solid var(--lev-primary);
  }
  
  .bg-gradient-login{
    background: rgba(34, 40, 49, 0.502);
    background-image: linear-gradient(to right top, #222831, #262c35, #2a3039, #2f343d, #333841, #38424e, #3c4c5b, rgba(59, 88, 105, 0.75), rgba(62, 112, 140, 0.75), rgba(44, 129, 179, 0.75), rgba(28, 145, 212, 0.75), rgb(0, 158, 247, .75));
    backdrop-filter: grayscale(1);
  }
  
  .bg-gradient-secondary{
    background: rgb(0,173,181);
  background: -moz-radial-gradient(circle, rgba(0,173,181,1) 0%, rgba(7,144,152,1) 17%, rgba(14,117,125,1) 35%, rgba(24,77,86,1) 65%, rgba(34,40,49,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(0,173,181,1) 0%, rgba(7,144,152,1) 17%, rgba(14,117,125,1) 35%, rgba(24,77,86,1) 65%, rgba(34,40,49,1) 100%);
  background: radial-gradient(circle, rgba(0,173,181,1) 0%, rgba(7,144,152,1) 17%, rgba(14,117,125,1) 35%, rgba(24,77,86,1) 65%, rgba(34,40,49,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00adb5",endColorstr="#222831",GradientType=1);
  }
  
  input::-ms-reveal,
  input::-ms-clear {
    display: none;
  }